h1 {
    text-align: center;
}

.wav {
    width: 80%;
    background-color: rgb(255, 176, 112);
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 500px;
}

.instrumental {
    width: 80%;
    background-color: rgb(133, 187, 241);
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 500px;
}

h2 {
    text-align: center;
}

.audio-container {
  text-align: center; /* For inline/block hybrid elements */
}

audio {
  display: block; /* Makes margin: auto work */
  margin: 0 auto; /* Centers horizontally */
}