
body {
  background-image: url("../assets/xzayvion.svg"), url("../assets/chris.svg"); /*setting the background to me and chris*/
  background-size: contain, contain;
  background-repeat: no-repeat;
  background-position: calc(50% - 50vw + 600px) center, calc(50% + 50vw - 600px) center;
  min-height: 100vh;
  margin: 0 auto;
  max-width: 2000px;
}
h1 {
    text-align: center;
}

.wav {
    width: 80%;
    background: linear-gradient(270deg,rgba(255,255,255, 0),rgb(255, 176, 112)); /*gradient effect for music files*/
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 500px;
}

.instrumental {
    width: 80%;
    background: linear-gradient(90deg,rgba(255,255,255, 0),rgb(133, 187, 241)); /*gradient effect for music files*/
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 500px;
}

h2 {
    text-align: center;
}

.audio-container {
  text-align: center; /* For inline/block hybrid elements */
}

audio {
  display: block; /* Makes margin: auto work */
  margin: 0 auto; /* Centers horizontally */
}
